* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
}

.form {
    width: 60vw;
}

.form-title {
    color: #ffaa00;
    font-size: 2em;
}

.form-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    border: none;
}

.form-label {
    font-size: 1.3em;
    margin-bottom: .2rem;
    color: #01c8ff;
}

.form-input {
    font-family: 'Courier New', Courier, monospace;
    padding: .4rem;
    font-size: 1em;
    margin-bottom: 1rem;
    background-color: rgb(28, 28, 28);
    color: #FFF;
    border: none;
}

.form-input:focus {
    outline: none;
}

.btn-form {
    padding: .4rem;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: rgb(147, 147, 147);
    border-color: black;
    box-shadow: 3px 3px 0px rgb(0, 0, 0);
    cursor: pointer;
}

.register-title {
    color: #0cd805;
}

.register {
    color: #FFF;
}
