@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

main {
    background-color: white;
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

main .card-top {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: hsl(241, 81%, 54%);
    padding: 1rem;
    color: white;
    border-radius: 0px 0px 25px 25px;
}

#title-top {
    color: rgba(255, 255, 255, 0.733);
}

main section .circle {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100px;
    background-color: rgb(212, 87, 87);
    border-radius: 50%;
}
